

<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{this.local.userName}}</ion-title>

    <ion-button (click)="settingsPopover()" slot="end">Show</ion-button>
  </ion-toolbar>
  <ion-searchbar
    #searchVal
    (showCancelButton)="shouldShowCancel()"
    (ionInput)="onInput(searchVal.value)"
  >
  </ion-searchbar>
</ion-header>

<ion-card>
  <ion-button color="tertiary" (click)="addShow()">Add Show</ion-button>
</ion-card>
<ion-content padding>
  <div class="main-app-top">
    <ion-list no-lines>
      <ion-item *ngFor="let element of list">
        <div>
          <img
            style="width: 65%; height: 80%"
            src="{{element?.image.medium}}"
            alt="{{element?.image.original}}"
          />
          <ion-button color="warning" (click)="showMore(element.id)"
            >Show more...</ion-button
          >
        </div>
        <div class="item-detail-container">
          <div class="item-container">
            <h3 style="color: goldenrod">{{element?.name}}</h3>
            <span>genre:</span>
            <div *ngFor="let element of element?.genres">
              <ion-card-subtitle
                ><strong>{{element}}</strong></ion-card-subtitle
              >
            </div>
            <ion-badge color="warning">{{element?.rating.average}}</ion-badge>
            <p>
              <ion-fab
                vertical="bottom"
                horizontal="center"
                slot="fixed"
                (click)="presentAlert(element.id, this.local.userName)"
              >
                <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </p>
            <p>{{element?.language}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
